.container{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns:repeat(3, 1fr);    
}
.box{
    width:80%;
    height: 80%;
    margin:50px;
    box-shadow: 0 5px 10px 0;
    text-align:center;
    background-color: pink;
}
.img{
    text-decoration: none;
    font-size: 30px;
}